.sidebar {
    width: 317px;
    height: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    left: -317px;

}

.sidebar.open {
    left: 0;
    transition: left 1s;
}

.background {
}

.nav {
}

.nav a {
    color: #000;
    font: 600 22px/27px 'Montserrat', sans-serif;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a:active {
    color: #3D6B99;
}

.nav a.active {
    color: #0059B2;
    text-decoration: underline;
}
.close {
}

.close img {
}
