.friendMessage {
    display: grid;
    grid-template-columns:48px 527px ;
    grid-template-rows:  auto 17px;
    grid-template-areas:
                "it it"
                "t .";
    justify-items: center;
}

.friendImageAndText {
    grid-area: it;
    width: 575px;
    display: grid;
    grid-template-columns:48px 527px ;
    grid-template-areas:
                "image text ";
    align-items: end;
    justify-items: end;
    position: relative;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    grid-area: image;
}

.friendText {
    grid-area:text;
    width: 515px;
    height: auto;
    min-height: 60px;
    border-radius: 10px 10px 10px 0px;
    background-color: #F5F7FB;
    position: relative;
}

.friendText:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 0px;
    left: -12px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 12px, #F5F7FB 0);
}

.friendName {
    font: normal 600 18px/22px 'Montserrat', sans-serif;
    color: #000;
    position: absolute;
    top: 7px;
    left: 13px;
}

.friendMessageText {
    width: 489px;
    overflow: hidden;
    font: normal 400 16px/20px 'Montserrat', sans-serif;
    color: #000;
    position: absolute;
    top: 32px;
    left: 13px;
}


.friendTime {
    grid-area: t;
    margin-top: 5px;
    width: 26px;
    height: 12px;
    font: normal 600 10px/12px sans-serif;
}
