.greetingForm {
}

.inputAndButtonContainer {
    display: grid;
    height: 50px;
    margin-bottom: 10px;
    grid-template-columns: 372px 78px;
    gap: 12px;
}

.error {
    font: normal 400 14px/17px 'Montserrat', sans-serif;
    color: #cc0000;
}

.input {
    display: inline-block;
    padding: 8px 12px;
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font: normal 500 16px/20px 'Montserrat', sans-serif;
}

.input:focus {
    outline: none;
}

.errorInput {
    display: inline-block;
    padding: 8px 12px;
    width: 372px;
    height: 36px;
    border: 1px solid #CC0000;
    border-radius: 5px
}

.errorInput:focus {
    outline: none;
}

.button {
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 5px;
    border: 1px solid #0066CC;
    color: #FFFFFF;
    font: normal 600 14px/20px 'Montserrat', sans-serif;
    text-transform: capitalize;
}

.button:focus {

}

.button:active {
    background-color: #FFFFFF;
    color: #0066CC;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font: normal 400 14px/17px 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.5);;
}

.greeting {
    font: normal 500 14px/17px 'Montserrat', sans-serif;
}
