.container {
}

.wrapper {
    display: flex;
    align-items: center;
}

.number {
    font: 600 16px/20px 'Montserrat', sans-serif;

}

.number:first-child {
    margin-right: 20px;
}

.number:last-child {
    margin-left: 20px;
}
